@using System.Globalization
@model List<Yogalates.Common.ViewModels.ArticleViewModel>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{ var counter = 0;}
<div class="colorlib-loader"></div>
<div id="page">
    @await Html.PartialAsync("~/Views/Blog/PartialViews/_BlogTitle.cshtml")
    <div class="colorlib-blog">
        <div class="container">
            @if (Model.Count != 0)
            {
                for (int i = 0; ; i += 3)
                {
                    <div class="row">
                        @for (int j = 0; j < 3; j++)
                        {
                            if (Model[j].Content.Length > 100)
                            {
                                Model[j].Content = Model[j].Content.Substring(0, 99) + "...";
                            }

                            <div class="col-md-4 animate-box">
                                <article class="article-entry">
                                    <a href="blog.html" class="blog-img" style="background-image: url('@Url.Content(Model[i + j].Image800X533)');">
                                        <p class="meta">
                                            <span class="day">@Model[i + j].Date.ToString("dd", new CultureInfo("bg-BG"))</span>
                                            <span class="month">@Model[i + j].Date.ToString("MMMM", new CultureInfo("bg-BG")).ToUpper()</span>
                                        </p>
                                    </a>
                                    <div class="desc">
                                        <h2><a href="blog.html">@Model[i + j].Name</a></h2>
                                        <p>@Model[i + j].Content</p>
                                    </div>
                                </article>
                            </div>
                            counter++;
                            if (counter == Model.Count)
                            {
                                break;
                            }
                        }
                    </div>
                    if (counter == Model.Count)
                    {
                        break;
                    }
                }
            }
            else
            {
                <h1>Не сме написали още нито една статия в блога!</h1>
            }
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_ContactPointer.cshtml")
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>