
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="colorlib-loader"></div>
<div id="page">
    @await Html.PartialAsync("~/Views/Blog/PartialViews/_BlogTitle.cshtml")
    <div class="colorlib-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-4 animate-box">
                    <article class="article-entry">
                        <a href="blog.html" class="blog-img" style="background-image:url('@Url.Content("~/images/blog-1.jpg")');">
                            <p class="meta"><span class="day">18</span><span class="month">Apr</span></p>
                        </a>
                        <div class="desc">
                            <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                            <h2><a href="blog.html">Need workout motivation</a></h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 animate-box">
                    <article class="article-entry">
                        <a href="blog.html" class="blog-img" style="background-image:url('@Url.Content("~/images/blog-2.jpg")');">
                            <p class="meta"><span class="day">18</span><span class="month">Apr</span></p>
                        </a>
                        <div class="desc">
                            <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                            <h2><a href="blog.html">Need workout motivation</a></h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 animate-box">
                    <article class="article-entry">
                        <a href="blog.html" class="blog-img" style="background-image:url('@Url.Content("~/images/blog-3.jpg")');">
                            <p class="meta"><span class="day">18</span><span class="month">Apr</span></p>
                        </a>
                        <div class="desc">
                            <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                            <h2><a href="blog.html">Need workout motivation</a></h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 animate-box">
                    <article class="article-entry">
                        <a href="blog.html" class="blog-img" style="background-image:url('@Url.Content("~/images/blog-4.jpg")');">
                            <p class="meta"><span class="day">18</span><span class="month">Apr</span></p>
                        </a>
                        <div class="desc">
                            <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                            <h2><a href="blog.html">Need workout motivation</a></h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 animate-box">
                    <article class="article-entry">
                        <a href="blog.html" class="blog-img" style="background-image:url('@Url.Content("~/images/blog-5.jpg")');">
                            <p class="meta"><span class="day">18</span><span class="month">Apr</span></p>
                        </a>
                        <div class="desc">
                            <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                            <h2><a href="blog.html">Need workout motivation</a></h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 animate-box">
                    <article class="article-entry">
                        <a href="blog.html" class="blog-img" style="background-image:url('@Url.Content("~/images/blog-6.jpg")');">
                            <p class="meta"><span class="day">18</span><span class="month">Apr</span></p>
                        </a>
                        <div class="desc">
                            <p class="admin"><span>Posted by:</span> <span>Noah Henderson</span></p>
                            <h2><a href="blog.html">Need workout motivation</a></h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_ContactPointer.cshtml")
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>